@font-face {
  font-family: 'MTD Feliz en Vista';
  font-weight: 400;
  src: url(../fonts/MTD-Feliz-en-Vista.woff) format('woff'),
}
@font-face {
  font-family: 'MTD Feliz en Vista';
  font-weight: 700;
  src: url(../fonts/MTD-Feliz-en-Vista.woff) format('woff'),
}
@font-face {
  font-family: 'MTD Feliz en Vista';
  font-weight: 800;
  src: url(../fonts/MTD-Feliz-en-Vista.woff) format('woff'),
}
@font-face {
  font-family: 'MTD Feliz en Vista';
  font-weight: 300;
  src: url(../fonts/MTD-Feliz-en-Vista.woff) format('woff'),
}

@font-face {
  font-family: 'MTD Grange';
  font-weight: 400;
  src: url(../fonts/MTD-Grange.woff) format('woff'),
}
@font-face {
  font-family: 'MTD Grange';
  font-weight: 700;
  src: url(../fonts/MTD-Grange.woff) format('woff'),
}
@font-face {
  font-family: 'MTD Grange';
  font-weight: 800;
  src: url(../fonts/MTD-Grange.woff) format('woff'),
}
@font-face {
  font-family: 'MTD Grange';
  font-weight: 300;
  src: url(../fonts/MTD-Grange.woff) format('woff'),
}

@font-face {
  font-family: 'JANUARYLOVE';
  font-weight: 400;
  src: url(../fonts/JANUARYLOVE.woff) format('woff'),
}
@font-face {
  font-family: 'JANUARYLOVE';
  font-weight: 700;
  src: url(../fonts/JANUARYLOVE.woff) format('woff'),
}
@font-face {
  font-family: 'JANUARYLOVE';
  font-weight: 800;
  src: url(../fonts/JANUARYLOVE.woff) format('woff'),
}
@font-face {
  font-family: 'JANUARYLOVE';
  font-weight: 300;
  src: url(../fonts/JANUARYLOVE.woff) format('woff'),
}