/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button { margin:0; padding:0; }
fieldset,img {border:0 none;vertical-align:top;}
dl,ul,ol,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle; font-size:12px; }
button {border:0 none;background-color:transparent;cursor:pointer}
body { background:#fff; letter-spacing:0.05em;  -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; line-height:1.4; }
body,th,td,input,select,textarea,button { font-size:12px; font-family: 'Montserrat','Lato',arial,sans-serif,Malgun Gothic,"맑은 고딕",'Nanum Gothic',AppleGothic,Dotum,"돋움",sans-serif;color:#000; } /* color값은 디자인가이드에 맞게사용 */
a { color:#000; text-decoration:none; transition-duration:.4s; -webkit-transition-duration:.4s; -moz-transition-duration:.4s; -o-transition-duration:.4s; }
a:active, a:hover { text-decoration:none; }
address,caption,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }