.introduction {
  background: url(/assets/images/introduction/img_introduction_bg.png) no-repeat top left;
  background-size: 100%;
  padding-top: 213px;
  padding-bottom: 60px;

  &__title {
    color: #603324;
    font-family: 'MTD Grange', sans-serif;
    font-size: 150px;
    text-transform: uppercase;
  }

  &__sub-title {
    color: #603324;
    font-family: 'JANUARYLOVE', sans-serif;
    font-size: 75px;
    text-align: right;
    margin-top: -42px;
    margin-right: 101px;
  }

  &-item {

    &__desc {
      color: #603324;
      display: block;
      text-align: right;
      margin: 10px 0 0;
      font-size: 31px;
      font-family: 'JANUARYLOVE', sans-serif;
    }
  }

  &-item--one {
    width: 523px;
    height: 676px;
    position: relative;

    img {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      background: url(/assets/images/introduction/img_introduction_logo.png) no-repeat;
      position: absolute;
      bottom: -150px;
      left: -216px;
      width: 356px;
      height: 352px;
      z-index: 0;
    }  
  }

  &-item--two {
    width: 333px;
    height: 500px;
    margin-top: -130px;
    margin-left: 78px;
  }

  &-item--three {
    width: 397px;
    position: relative;
    margin-left: 270px;
    margin-top: 300px;

    img {
      position: relative;
      z-index: 1;
    }

    .introduction-item__desc {
      margin-top: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      background: #C9A89A;
      width: 397px;
      height: 378px;
      top: 20px;
      left: -10px;
      z-index: 0;
    }
  }

  &-item--four {
    display: flex;
    align-items: flex-end;

    .introduction-item__desc {
      margin-left: 30px;
    }
  }

  &-lytin {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 80px;
  }
}

.about-us {
  background: #d5c4b4;

  &__title {
    color: #603324;
    font-family: 'MTD Grange', sans-serif;
    font-size: 81px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: right;
    text-transform: uppercase;
  }

  &__logo {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background: url(/assets/images/about_us/img_about_us_logo.png) no-repeat;
      width: 737px;
      height: 730px;
      top: -163px;
      left: -350px;
      opacity: 0.48;
    }
  }

  &__desc {
    color: #8A4D34;
    font-family: 'JANUARYLOVE', sans-serif;
    font-size: 30px;
    width: 428px;
    text-align: justify;
    margin-right: 80px;
    margin-left: auto;
    position: relative;

    &::first-letter {
      padding-left: 50px;
    }
  }
}