footer.footer
  .container
    .row
      .footer__wrap
        .contact
          img.mx-auto(src="../assets/images/footer_logo.png", alt="")
          
          form.contact-form(action="")
            input(type="text" name="fistname" placeholder="First Name")
            input(type="text" name="email" placeholder="Email Address")
            button(type="submit") Submit
        .footer__info
          .footer__logo
            a(href="/")
              img(src="../assets/images/footer_logo.png", alt="Lytinvietnam Logo")
          .footer__contact
            h3.footer__info__title Contact
            p 34 Bui Thi Xuan St, D.1, HCM City
            p 028 2602 002
            p lytin@gmail.com
          .footer__follow-us
            h3.footer__info__title Follow Us
            ul.list-unstyled.d-flex
              li.mr-5
                a(href="https://www.facebook.com/LYTIN-105543631181649")
                  img(src="../assets/images/common/sns_facebook.png", alt="facebook")
              li
                a(href="https://www.instagram.com/lytinvietnam/")
                  img(src="../assets/images/common/sns_instagram.png", alt="instagram")

