footer.footer
  .container
    .row
      .col-md-3.footer__left
        .footer__logo
          a(href="/")
            img(src="../assets/images/epistel.png", alt="epistel")
        p.footer__copyright Copyright (C) 2020 <br>Epistel All rights reserved.
      .col-md-6.footer__center
        .group
          .group__left About Us
          .group__right
            p Epistel
            p Ha Seung Hyun
            p epistel@naver.com

        .group
          .group__left Company
          .group__right
            p (주)에피스틀
            p 739-87-01767
            p 제2020-서울마포-1810
            p 서울특별시 마포구 마포대로 19길 34, 1층(아현동 613-19)
      .col-md-3.footer__right
        .footer__social
          a(href="https://www.instagram.com/epistel_official/" title="Instagram epistel official" target="_blank").sns_instagram Instagram
        .footer__work-time
          p 1577-6920
          p Opening hours. am10-pm6
          p Sat, Sun off
