extends ./layouts/layouts.pug

block title
  | Home

block content

  header#header.header-home
    .container
      .navbar
        button#navbar-menu-button
          span
          span
          span
        .navbar-logo
          a(href="/")
            img(src="../assets/images/logo.png", alt="Logo")
        .navbar-right
          a(href="#").cart
            img(src="../assets/images/common/img_cart.png", alt="")
          a(href="#").search
            img(src="../assets/images/common/img_search.png", alt="")
    .overlay
      video(playsinline='playsinline' autoplay='autoplay' muted='muted' loop='loop')
        source(src='../assets/video.mp4' type='video/mp4')
      //- .container.h-100
      //-   .d-flex.h-100.text-center.align-items-center
      //-     .w-100.text-white
      //-       h1.display-3 Lytin Vietnam
      //-       p.lead.mb-0 Lotus Collection

  main.main
    section.introduction
      .container
        .row
          .col-md-6
            h2.introduction__title Lotus
            h3.introduction__sub-title Collection
          .col-md-6
            .introduction-item.introduction-item--one
              a(href="shop_detail.html")
                img(src="../assets/images/introduction/img_introduction_1.png", alt="")
              p.introduction-item__desc Lotus Bag
          .col-md-4
            .introduction-item.introduction-item--two
              a(href="shop_detail.html")
                img(src="../assets/images/introduction/img_introduction_2.png", alt="")
              p.introduction-item__desc Lotus Bag
          .col-md-6
            .introduction-item.introduction-item--three
              a(href="shop_detail.html")
                img(src="../assets/images/introduction/img_introduction_3.png", alt="")
              p.introduction-item__desc Lotus Mini
          .col-md-12
            .d-flex
              .introduction-item.introduction-item--four
                a(href="shop_detail.html")
                  img(src="../assets/images/introduction/img_introduction_4.png", alt="")
                p.introduction-item__desc Lotus Bag
              .introduction-lytin
                img(src="../assets/images/introduction/img_introduction_lytin.png", alt="")
    section.about-us
      .container
        .row
          .col-md-7
            h2.about-us__title About Us
            .about-us__logo
            p.about-us__desc A dream to make the best sports shoes possible. That’s where you start on the Adidas About Us page. From their they launch you in to a graphical journey through the company’s history. This is a very cool and unique way to show people what your company is about but I do have a few problems with it.
          .col-md-5
            img(src="../assets/images/about_us/img_about_us.png", alt="Abous Us")
    section.album
      .container
        .album-list
          .row
            .col-md-3.album-list-item
              a(href="#")
                img(src="../assets/images/album/img_album_1.png", alt="")
            .col-md-3.album-list-item
              a(href="#")
                img(src="../assets/images/album/img_album_2.png", alt="")
            .col-md-3.album-list-item
              a(href="#")
                img(src="../assets/images/album/img_album_3.png", alt="")
            .col-md-3.album-list-item
              a(href="#")
                img(src="../assets/images/album/img_album_4.png", alt="")
        .album-intro
          .album-intro__left
            a(href="#").album-intro__link Lotus collection
            a(href="#").album-intro__link Summer
            a(href="#").album-intro__link Feed back
          .album-intro__center
            h2.album-intro__title Album
          .album-intro__right
            a(href="#").album-intro__link Color collection
            a(href="#").album-intro__link Instagram
            a(href="#").album-intro__link Spring time


