extends ./layouts/layouts.pug

block title
  | Home

block content

  main.main
    section.introduction
      .container
        .row
          .col-md-6
            h2.introduction__title Lotus
            h3.introduction__sub-title Collection
          .col-md-6
            .introduction-item.introduction-item--one
              img(src="../assets/images/introduction/img_introduction_1.png", alt="")
              p.introduction-item__desc Lotus Bag
          .col-md-4
            .introduction-item.introduction-item--two
              img(src="../assets/images/introduction/img_introduction_2.png", alt="")
              p.introduction-item__desc Lotus Bag
          .col-md-6
            .introduction-item.introduction-item--three
              img(src="../assets/images/introduction/img_introduction_3.png", alt="")
              p.introduction-item__desc Lotus Bag
          .col-md-12
            .d-flex
              .introduction-item.introduction-item--four
                img(src="../assets/images/introduction/img_introduction_4.png", alt="")
                p.introduction-item__desc Lotus Bag
              .introduction-lytin
                img(src="../assets/images/introduction/img_introduction_lytin.png", alt="")
