extends ./layouts/layouts.pug

block title
  | Shop

block content
  .shop
    .shop__category
      ul.list-unstyled
        li
          a(href="#" title="") OUTER
        li
          a(href="#" title="") TOP
        li
          a(href="#" title="") BOTTOM
        li
          a(href="#" title="") DRESS
        li
          a(href="#" title="") ACC
        li
          a(href="#" title="") SALE
    .shop__list.container
      .row
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/1.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩<del>61,000</del>
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/2.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/3.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/4.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/5.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/6.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩<del>61,000</del>
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/7.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩<del>61,000</del>
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/8.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩<del>61,000</del>
              span.shop__header-price ₩49,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="/shop_detail.html")
                img(src="assets/images/products/9.jpg", alt="test")
          .shop__header
            .left
              a.shop__header-title(href="/shop_detail.html") 상품명
              a.shop__header-title(href="/shop_detail.html") 짧은설명
            .right
              span.shop__header-price ₩<del>61,000</del>
              span.shop__header-price ₩49,000
      .row
        nav#pagination.mx-auto
          ul.pagination.justify-content-center
            li.page-item
              a.page-link(href='#' aria-label='이전 페이지')
                span(aria-hidden='true') &lt;
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#' aria-label='다음 페이지')
                span(aria-hidden='true') &gt;
