extends ./layouts/layouts.pug

block title
  | Lotus Bag - Lytinvietnam

block content

  header#header
    .container
      .navbar
        button#navbar-menu-button
          span
          span
          span
        .navbar-logo
          a(href="/")
            img(src="../assets/images/logo.png", alt="Logo")
        .navbar-right
          a(href="#").cart
            img(src="../assets/images/common/img_cart.png", alt="")
          a(href="#").search
            img(src="../assets/images/common/img_search.png", alt="")

  .container
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Home
        li.breadcrumb-item
          a(href='#') Collection
        li.breadcrumb-item.active(aria-current='page') Lotus Bag
  .container
    section.shop
      .shop-detail
        .chocolat-container
          .row
            .col-md-6
              .chocolat-parent
                .row
                  .col-md-12.mb-4
                    a.chocolat-image(href='assets/images/shop/details1.jpg' title='caption image 1')
                      img.w-100(src='assets/images/shop/details1.jpg')
                  .col-md-6.mb-4
                    a.chocolat-image(href='assets/images/shop/details2.jpg' title='caption image 2')
                      img.w-100(src='assets/images/shop/details2.jpg')
                  .col-md-6.mb-4
                    a.chocolat-image(href='assets/images/shop/details3.jpg' title='caption image 3')
                      img.w-100(src='assets/images/shop/details3.jpg')
            .col-md-6
              .shop-buy
                h4.shop-buy__title Lotus Bag
                p.shop-buy__price Price: 599.000 vnd
                .shop-buy__add-to-cart
                  a(href="#").add-to-card Add to cart
                  a(href="#").buy-now Buy now
                .shop-buy__detail
                  h5.shop-buy__detail__title Details
                  p
                  p Double top handles
                  p Magnetic closure
                  p Comes with adjustable strap (detachable)
                  p Material: Faux leather
                  p.ml-3 Depth (cm): 13
                  p.ml-3 Width (cm): 27.5
                  p.ml-3 Height (cm): 23.5
                                  