extends ./layouts/layouts.pug

block title
  | Shop

block content
  .shop.container-fluid
    .shop__category
      ul.list-unstyled
        li
          a(href="#" title="") 20 SPRING
        li
          a(href="#" title="") OUTER
        li
          a(href="#" title="") TOP
        li
          a(href="#" title="") BOTTOM
        li
          a(href="#" title="") DRESS
        li
          a(href="#" title="") ACC
        li
          a(href="#" title="") MENSWEAR
        li
          a(href="#" title="") SALE
        li
          a(href="#" title="") PRIVATE
    .shop__list
      .row
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="#")
                img.w-100(src="assets/images/products/1.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/2.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/3.jpg", alt="test")
          .shop__header
            a.shop__header-title(href="#") Round fatigue pants (Midnight fog)
            span ₩149,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="#")
                img.w-100(src="assets/images/products/3.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/2.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/1.jpg", alt="test")
          .shop__header
            a.shop__header-title(href="#") Round fatigue pants (Midnight fog)
            span ₩149,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="#")
                img.w-100(src="assets/images/products/2.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/1.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/3.jpg", alt="test")
          .shop__header
            a.shop__header-title(href="#") Round fatigue pants (Midnight fog)
            span ₩149,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="#")
                img.w-100(src="assets/images/products/2.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/1.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/3.jpg", alt="test")
          .shop__header
            a.shop__header-title(href="#") Round fatigue pants (Midnight fog)
            span ₩149,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="#")
                img.w-100(src="assets/images/products/2.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/1.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/3.jpg", alt="test")
          .shop__header
            a.shop__header-title(href="#") Round fatigue pants (Midnight fog)
            span ₩149,000
        .col-md-4.shop__list-item
          .slider-item
            div
              a(href="#")
                img.w-100(src="assets/images/products/2.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/1.jpg", alt="test")
            div
              a(href="#")
                img.w-100(src="assets/images/products/3.jpg", alt="test")
          .shop__header
            a.shop__header-title(href="#") Round fatigue pants (Midnight fog)
            span ₩149,000

