.footer {
  background: #F5F0EA;
  padding-top: 30px;
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    background: url(/assets/images/about_us/img_about_us_logo.png) no-repeat;
    width: 737px;
    height: 730px;
    top: 0;
    right: 123px;
    opacity: 0.56;
    z-index: 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .contact {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 40px 40px;
    z-index: 1;
  }

  .contact-form {
    margin: 20px auto 0;

    input {
      border: 2px solid #603324;
      color: #603324;
      font-family: 'JANUARYLOVE', sans-serif;
      font-size: 25px;
      padding: 5px 20px;
      margin-right: 30px;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: #603324;
        margin: 0 auto;
        text-align: center;
      }
    }

    button[type=submit] {
      background: #603324;
      color: #fff;
      font-family: 'JANUARYLOVE', sans-serif;
      font-size: 25px;
      padding: 7px 16px;
    }
  }

  &__info {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    &__title {
      color: #603324;
      font-family: 'JANUARYLOVE', sans-serif;
      font-size: 35px;
      margin-bottom: 37px;
    }

    p {
      color: #603324;
      font-family: 'MTD Feliz en Vista', sans-serif;
      font-size: 25px;
      margin: 0;
    }
  }
}