.navbar-logo {
  margin-top: 15px;
  margin-left: 19px;
}

#navbar-menu-button {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 45px;
    position: relative;
    transform: scale(0.5);
    transition: .5s ease-in-out;
    width: 80px;
    margin-top: 22px;
    margin-left: 7px;
    
    @media screen and (max-width: 1199.98px) {
    //   display: block;
    }
  
    &:focus, &:active {
      border: 0;
      outline: none;
    }
  
    span {
      background: #000;
      border-radius: 9px;
      display: block;
      height: 6px;
      left: 0;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 100%;
    }
  }
  
  #navbar-menu-button span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
    
  }
  
  #navbar-menu-button span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
    width: 60px;
  }
  
  #navbar-menu-button span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
    width: 70px;
  }
  
  #navbar-menu-button.open span:nth-child(1) {
    left: 8px;
    top: -3px;
    transform: rotate(45deg);
  }
  
  #navbar-menu-button.open span:nth-child(2) {
    opacity: 0;
    width: 0;
  }
  
  #navbar-menu-button.open span:nth-child(3) {
    left: 8px;
    top: 39px;
    transform: rotate(-45deg);
  }

.navbar-right {
  margin-top: 20px;

  .cart {
    margin-right: 27px;
  }
}